# Application
public/content/plugins/*
!public/content/plugins/.gitkeep
public/content/mu-plugins/*/
!public/content/mu-plugins/editor/
public/content/upgrade
public/content/uploads/*
!public/content/uploads/.gitkeep
public/content/cache/*

# Asset build
public/build/*
public/hot

# WordPress
public/wp
public/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
auth.json

# WP-CLI
wp-cli.local.yml

# Node
node_modules
npm-debug.log
yarn-error.log

# VS Code
.vscode/settings.json

# Tests
phpunit.xml
.phpunit.result.cache
.phpunit.cache
test-results
