{
    "*.blade.php": "prettier --write",
    "*.php": "prettier --write",
    "*.css": "prettier --write",
    "*.scss": "prettier --write",
    "*.js": "prettier --write",
    "*.ts": "prettier --write",
}